.ipynb_checkpoints/
__pycache__/
Code_Store/
Data/
storage/
models/
images/
results/
tensorboard/
*.csv
Article/images/
Article/*.aux
Article/*.log
Article/*.out
Article/*.pdf
Article/*.xml
Article/*.gz
Article/*-blx.bib
Article/*.synctex.gz
Article/*.run.xml