.ipynb_checkpoints/
__pycache__/
Code_Store/
Data/
storage/
models/
results/
tensorboard/
*.bat
Article/*.aux
Article/*.bbl
Article/*.blg
Article/*.log
Article/*.out
Article/*.pdf
Article/*.xml
Article/*.gz
Article/*-blx.bib
Article/*.synctex.gz
Article/*.run.xml